<!DOCTYPE html>
<html>
  <head>
    <title>Django Secret Key Generator</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-50 h-screen w-screen">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6">
      <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
        <span class="block">Django Secret Key Generator</span>
        <span class="block text-blue-500">Get Your Secret Key</span>
      </h2>

      <div class="h-3" />

      <div class="mt-8 lex">
        <div class="inline-flex rounded-md shadow">
          <button
            onclick="copyKey()"
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700"
          >
            Copy key to clipboard
          </button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function copyKey() {
    var temp = document.createElement("textarea");
    document.body.appendChild(temp);
    temp.value = "{{ secret_key }}";
    temp.select();

    document.execCommand("copy");

    document.body.removeChild(temp);
  }
</script>
